<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FraudShield AI</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav>
        <h2>FraudShield AI</h2>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/transactions/">Transactions</a></li>
        </ul>
    </nav>

    <div class="container">

        {% block content %}

        {% endblock %}

    </div>

</body>
</html>